 <div class="card category">
    <div class="name">
      {{transforming-text-input
        data-title="Click to edit"
        big=true
        name='categoryName'
        type='text'
        value='Design'
        placeholder='Name your project...'}}
    </div>

    <div class="summary category">
      <div class="progress-wrapper category">
              <span class="section-left">
                <span>
                  <p><strong>137</strong></p><p class="small">Estimated</p>
                </span>
                <span>
                  <p><strong>92</strong></p><p class="small">Actual</p>
                </span>
              </span>

        <div class="progress-bar">
          <div class="fill complete-45 green"></div>
        </div>

        <span class="section-right">
                <span class="status green">
                  <span class="icon"></span>
                    <p>83 under</p>
                </span>
              </span>

      </div>
    </div>

    <div class="line-items">
      <div class="items-header">
        <p class="small description">Description</p>
        <p class="small estimated">Estimated</p>
        <p class="small actual">Actual</p>
      </div>
      <!-- Sample line item for now -->
      {{line-item-row description="Description"
                      estimated=5
                      actual=10
                      onSaveDescription=(action onSaveDescription)
                      onSaveEstimated=(action onSaveEstimated)
                      onSaveActual=(action onSaveActual)}}
      <div class="item-bottom">
        <button class="btn-primary">+ New Item</button>
      </div>
    </div>
  </div>
