<div>
  <!-- Sample line item for now -->
  {{line-item-row description="Description"
                  estimated=5
                  actual=10
                  onSaveDescription=(action onSaveDescription)
                  onSaveEstimated=(action onSaveEstimated)
                  onSaveActual=(action onSaveActual)}}
</div>
