<div class="item">
  <!--TODO: Replace "1" with model.id-->
  <div class="description">
    {{live-updating-text-input class='toggle-input'
                               name='description'
                               type='text'
                               placeholder='Enter a description...'
                               value=model.description
                               saveValue=(action onSaveDescription model)}}
  </div>
  <div class="estimated">
    {{live-updating-text-input class='toggle-input small'
                               name='estimated'
                               type='number'
                               placeholder=0
                               value=model.estimated
                               saveValue=(action onSaveEstimated model)}}
    </div>
  <div class="actual">
    {{live-updating-text-input class='toggle-input small'
                               name='actual'
                               type='number'
                               placeholder=0
                               value=model.actual
                               saveValue=(action onSaveActual model)}}
  </div>
  {{hours-remaining
    actual=model.actual
    estimated=model.estimated
    icon=true
    class='status-wrapper'}}
</div>
