<div class="item">
  <!--TODO: Replace "1" with model.id-->
  <div class="description">
    {{live-updating-text-input class='toggle-input'
                               name='description'
                               type='text'
                               placeholder='Enter a description...'
                               value=description
                               saveValue=(action onSaveDescription '1')}}
  </div>
  <div class="estimated">
    {{live-updating-text-input class='toggle-input small'
                               name='estimated'
                               type='number'
                               placeholder=0
                               value=estimated
                               saveValue=(action onSaveEstimated '1')}}
    </div>
  <div class="actual">
    {{live-updating-text-input class='toggle-input small'
                               name='actual'
                               type='number'
                               placeholder=0
                               value=actual
                               saveValue=(action onSaveActual "1")}}
  </div>
  {{hours-remaining
    actual=actual
    estimated=estimated
    icon=true
    class='status-wrapper'}}
</div>
