<div class="select-option {{if isSelected 'active'}}" {{action "choosePlan"}}>
  <span class="img"></span>
  <span class="text">
    <h2>{{price}}</h2>
    <p class="small">{{text}}</p>
  </span>
</div>