<div {{action 'cardClicked'}} class="card--project" >
  <div class="color green"></div>
  <div class="content">
    <!--TODO: Use model data -->
    <div class="top-content">
      <h1 class="bold black">Albatross MVP</h1>
      <p class="small">08/25/2017</p>
    </div>

    <div class="bottom-content">

      {{hours-remaining icon=true
                        text=true
                        class='status-component'
                        estimated=195
                        actual=112}}
      <p class="small right">112/195</p>
    </div>
  </div>
</div>