<div class="modal-wrapper">
  <div class="modal-bg" {{action 'close'}}></div>
  <div class="modal-card">
    <div class="row">
      <div class="col-xs-12">
        <button class="cancel" {{action 'close'}}>Cancel</button>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <h1>Add your Toggl API token</h1>
      </div>
      <div class="col-xs-10 col-sm-8">
        <p class="small">Before we can pull your data from Toggl, you’ll need to enter your Toggle API key. It can be found by going to <a>your profile in Toggl</a> and scrolling to the bottom.</p>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-8 col-sm-6">
        {{validated-text-input
           name='togglApiToken'
           type='text'
           placeholder='Toggl API Token'
           value=togglApiToken
           error=validations.attrs.togglApiToken.message
           showError=showError}}

        <section>
          {{#spin-button class="btn-primary" action=(action 'importButtonPressed') buttonStyle="contract"}}Import Hours{{/spin-button}}
        </section>
      </div>
    </div>

    <section>
      <div class="row center-xs">
        <div class="col-xs-12">
          <h2>Where to find your Toggl API Token</h2>
        </div>
      </div>
    </section>
    <section class="screens">
      <div class="row around-xs">
        <div class="col-xs-8 col-sm-5">
          <img src="/img/toggl-screens/toggl-profile-settings.png" alt="Toggl Profile Settings" />
          <p class="small shown-xs"><strong>1.</strong> With Toggl open, go to your profile by clicking on your name at the bottom of the sidebar and selecting “Profile Settings.”</p>
        </div>

        <div class="col-xs-8 col-sm-5">
          <img src="/img/toggl-screens/toggl-api-token.png" alt="Toggl API Token" />
          <p class="small shown-xs"><strong>2.</strong> Scroll all the way to the bottom of your Profile Settings to the API Token section. Copy the token from there and paste it in the field above. That’s all!</p>
        </div>
      </div>

      <div class="row around-xs hidden-xs">
        <div class="col-xs-8 col-sm-5">
          <p class="small"><strong>1.</strong> With Toggl open, go to your profile by clicking on your name at the bottom of the sidebar and selecting “Profile Settings.”</p>
        </div>

        <div class="col-xs-8 col-sm-5">
          <p class="small"><strong>2.</strong> Scroll all the way to the bottom of your Profile Settings to the API Token section. Copy the token from there and paste it in the field above. That’s all!</p>
        </div>
      </div>
    </section>

    {{yield}}
  </div>
</div>