// Buttons
// All styles for creating button elements
// -------------------------------------------------------------------

#{$all-buttons} {
  border-radius: $border-radius;
  border-width: 0;
  box-shadow: none;
  color: $white;
  cursor: pointer;
  font-family: $body;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  min-width: golden-ratio($base-font-size,  4);
  outline: none;
  padding: 0.75rem $padding-mid;
  position: relative;
  transition: $transition;

  &[disabled], &:disabled {
    background: $grey-light !important;
    color: $white !important;
    cursor: initial;
  }

  &.btn-import {
    padding: 2rem 3rem;
    font-size: 1.45rem;
    min-width: 16rem;

    &.toggl {
      background: #F30C16;
      font-size: 1.95rem;
      padding: 1.5rem 3rem;

      &:hover {
        background: mix(#F30C16, $white, 80%);
      }
    }
    &.harvest {
      background: #F36C00;

      &:hover {
        background: mix(#F36C00, $white, 80%);
      }
    }
  }

  &.harvest-login {
    background: #F36C00;

    &:hover {
      background: mix(#F36C00, $white, 80%);
    }

    img {
      max-height: 1rem;
      margin: 0 0 -3px 8px;
    }
  }

  &.btn-primary {
    background: $primary;

    &:hover {
      background: $primary-dark;
    }

    &.spin-button {
      @include buttonColor('blue', $primary);

      &:hover {
        @include buttonColor('blue', $primary-dark);
      }
    }

    &.import-harvest {
      img {
        max-height: 1rem;
        margin: 0 0 -3px 8px;
      }
    }
  }

  img {
    margin: 0 0 -4px 4px;
    max-height: 1.2em;
  }

  &.cancel {
    background: none;
    color: $grey-dark;
    min-width: 0;

    &:hover, &:focus {
      color: $red;
    }
  }

  &.spin-button {
    border: none;
    border-radius: $border-radius;
    font-size: 1rem;
    padding: 0.75rem $padding-big;
    width: auto !important;

    span {
      font-size: 1em;
    }

    &.in-flight {
      border-radius: 4px !important;
      width: auto !important;
    }
  }

  &.no-margin {
    margin: 0;
  }
}
