// Logo
// All styles for creating logo element
// -------------------------------------------------------------------

.logo {
  background-image: url('/img/logo/albatross-logo_beta.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 4rem;
  width: 12rem;

  &--mark {
    @extend .logo;
    background-image: url('/img/logo/albatross-logo-mark.svg');
    background-position: center center;
    height: 3rem;
    width: 3rem;
  }
}


.slack-logo {
  background-image: url('/img/slack-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100%;
  max-width: 100%;
  min-height: 4rem;
  width: 12rem;
}
