// Progress Bar
// All styles for creating progress bar components
// -------------------------------------------------------------------

.progress-bar-wrapper {
  display: inline-block;
  width: auto;
  height: 1.65em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress-bar {
  background: $grey-light;
  border-radius: 7px;
  height: 7px;
  position: relative;
  overflow: hidden;
  width: 100%;

  .fill {
    background: $grey-light;
    border-radius: 7px;
    height: 100%;
    transition: $transition;
    width: 0px;

    // Loop through 0-100 and match the percent complete with the class name
    @for $i from 0 through 100 {
      &.complete-#{$i} {
        width: ($i + %);
      }
    }

    // Match the color in the class with the right variable for the fill color
    @each $color in 'green', 'red', 'yellow' {
      &.#{$color} {
        @if $color == 'green' {background: $primary};
        @if $color == 'red' {background: $red};
        @if $color == 'yellow' {background: $yellow};
      }
    }
  }
}
