// Base Layout
// All base layout styles, grids, containers, etc.
// -------------------------------------------------------------------

// Max width container for entire app
.container {
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  max-width: $container-width;
  width: 100%;

  &--main {
    @extend .container;
    padding: $padding-mid $padding-mid $padding-big $padding-mid;
    width: 100%;
  }

  section {
    padding: $padding 0;
  }
}

.header {
  height: auto;
  overflow: hidden;
  padding: $padding 0 $padding-big 0;

  h1 {
    display: inline-block;
  }

  p {
    color: $grey-mid;
  }

  .transforming-text-input {
    width: calc(100% - 250px);
  }
}

.inline-wrapper {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

// Utilities
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}


// Media Queries

// Mobile
@media screen and (max-width: $xs-break) {

  .header {

    h1 {
      display: block;
    }

    #{$all-buttons} {
      &.pull-right {
        float: none;
      }
    }
    .transforming-text-input {
      width: 100%;
      margin-bottom: 1em;
    }

    &.project {
      padding: $padding 0;
    }
  }
}


@media screen and (max-width: 48em) {
  .hidden-xs {
    display: none;
  }
}
