// Categories
// All styles for creating category layouts
// -------------------------------------------------------------------

$padding-width: $padding-mid;

.category {
  padding: 0;

  .header {
    padding: $padding $padding-mid 0;

    .transforming-text-input {
      max-width: 90%;
    }

    .icon--trash {
      cursor: pointer;
      float: right;
    }

    .is-deleting {
      padding: 0 0 $padding 0;

      .name {
        display: inline-block;
        width: calc(98% - 12rem);
      }
      .button-group {
        width: 12rem;
        height: auto;
        float: right;
        overflow: hidden;
        display: inline-block;

        #{$all-buttons} {
          font-size: 0.8em;
          margin: 0;
          padding: 0.4em 1em;
        }
      }
    }
  }

  .progress-wrapper {

    .section {


      &-left {
        @extend .section;
        float: left;

        span {

          p {

          }

        }
      }

      &-right {
        @extend .section;
        float: right;
      }
    }
  }
}



// Media Queries

// Mobile
@media screen and (max-width: $xs-break) {

  .summary {

    .progress-wrapper {

      .section {

        &-left {

          span {

            p {

            }

          }
        }
      }
    }
  }
}
