// Categories
// All styles for creating category layouts
// -------------------------------------------------------------------

$padding-width: $padding-mid;

.category {
  padding: 0;

  .name {
    padding: $padding $padding-mid 0;
  }

  .progress-wrapper {

    .section {


      &-left {
        @extend .section;
        float: left;

        span {

          p {

          }

        }
      }

      &-right {
        @extend .section;
        float: right;
      }
    }
  }
}



// Media Queries

// Mobile
@media screen and (max-width: $xs-break) {

  .summary {

    .progress-wrapper {

      .section {

        &-left {

          span {

            p {

            }

          }
        }
      }
    }
  }
}
