// Modals
// All styles for laying out modals
// -------------------------------------------------------------------\

.modal-wrapper {

  .modal-bg {
    background: rgba($black, 0.7);
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  .modal-card {
    background: $white;
    border-radius: $border-radius;
    height: auto;
    left: 50%;
    margin-bottom: $padding-big;
    max-width: 96%;
    overflow: hidden;
    padding: $padding;
    position: absolute;
    top: 1em;
    transform: translateX(-50%);
    width: calc(#{$container-width} - (#{$container-padding} * 4));
    z-index: 99;

    .screens {
      .row {

        div {
          padding: $padding 0;
        }
      }
    }
  }
}


// Media Queries

// Mobile
@media screen and (max-width: $xs-break){
  .modal-wrapper {

    .modal-card {
      width: 96%;
    }
  }
}
