// Navbar Layout
// All styles for laying out elements inside the navbar
// -------------------------------------------------------------------

.navbar {
  background: $white;
  border-bottom: $border;
  height: auto;
  left: 0;
  overflow: hidden;
  padding: 0.3em 0;
  top: 0;
  width: 100vw;
  z-index: 99;

  .container {
    margin: 0 auto;
    padding: 0 $container-padding;

    .logo {
      background-position: center left;
      height: $navbar-content-height;
      width: 8em;
    }

    .left-nav {
      display: inline-block;
      float: left;

      ul, .logo {
        float: left;
      }
    }

    .right-nav {
      display: inline-block;
      float: right;

      .user-profile {

        .user-name {
          color: $dark;
          font-size: 0.8em;
          font-weight: 700;
          line-height: $navbar-content-height;
          padding: $padding-small;

          .icon--down {
            margin-left: 6px;
          }
        }

        .user-options {
          background: $white;
          border: $border;
          border-radius: $border-radius;
          display: block;
          height: auto;
          min-width: 8em;
          overflow: hidden;
          padding: 0.5em 0;
          position: absolute;
          right: calc(((100% - #{$container-width}) / 2) + #{$container-padding});
          top: 3.25em;
          width: auto;

          li {
            display: block;
            line-height: 2em;
            width: 100%;

            a {
              //display: block;
              line-height: 1.65em;
              padding: 0;
            }

            p {
              border-bottom: $border;
              //font-weight: 400;
              line-height: 1.65em;
              margin: 0 0 0.5em 0;
              padding: 0 0 0.65em 0;
            }
          }
        }

        &.is-active {

          .user-name {

            .icon--down {
              transform: rotate(180deg);
            }
          }
        }

      }

      .transparent-bg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
      }
    }

    ul {
      display: inline-block;
      height: $navbar-content-height;
      list-style-type: none;
      margin: 0;

      li {
        display: inline-block;
        line-height: $navbar-content-height;
        padding: 0 $padding-small;
        position: relative;

        a {
          color: $grey-mid;
          font-size: 0.8em;
          line-height: $navbar-content-height;
          padding: $padding-small;
          transition: $transition;

          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

          &.active, &:hover {
            color: $dark;
          }
        }
      }
    }

    #{$all-buttons}, #{$all-text-inputs}, .field {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }


  &.login {
    background: transparent;
    border: none;
  }
}
