// Status
// All styles for layout out the status section on a Project
// -------------------------------------------------------------------

$buffer-width: 8em;;

.summary {
  height: auto;
  padding: 0 0 $padding-big 0;
  overflow: hidden;
  width: 100%;

  .buffer {
    display: inline-block;
    width: $buffer-width;

    label {
      display: inline-block;
      line-height: 3.25em;
      float: left;
      padding: 0 $padding 0 0;
    }

    #{$all-text-inputs} {
      display: inline-block;
      padding-right: 1.8em;
      text-align: right;
      width: 5em;
    }

    .percent-sign {
      color: $grey-mid;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      right: 1em;
    }
  }

  .progress-wrapper {
    display: inline-block;
    float: right;
    width: calc(95% - #{$buffer-width});
    transform: translateY(20px);

    .section {
      display: inline-block;
      height: auto;
      overflow: hidden;
      padding: 0 $padding;
      width: auto;

      &-left {
        @extend .section;

        span {
          &:last-child {
            padding: 0 0 0 $padding-big;
          }

          p:last-child {
            padding: 0 0 0 5px;
          }
        }
      }

      &-right {
        @extend .section;
        float: right;
      }
    }
  }

  p {
    display: inline-block;
    margin: 0;
  }

  &.category {
    padding: $padding-small $padding-mid 0;

    .progress-wrapper {
      transform: none;
      width: 100%;

      .section {

        &-left {
          min-width: 14em;
          padding-left: 0;
          width: auto;
        }
        &-right {
          min-width: 8em;
          padding-right: 0;
          text-align: right;
          width: auto;
        }
      }

      .progress-bar {
        display: inline-block;
        transform: translateY(-10px);
        width: calc(99% - (14em + 8em));
      }
    }
  }
}
