// Status
// All styles for layout out the status section on a Project
// -------------------------------------------------------------------

$buffer-width: 8em;;

.summary {
  height: auto;
  padding: 0 0 $padding-big 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  .buffer {
    display: inline-block;
    width: $buffer-width;

    label {
      display: inline-block;
      line-height: 3.25em;
      float: left;
      padding: 0 $padding 0 0;
    }

    #{$all-text-inputs} {
      display: inline-block;
      padding-right: 1.8em;
      text-align: right;
      width: 5em;
    }

    .percent-sign {
      color: $grey-mid;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      right: 1em;
    }
  }

  .progress-wrapper {
    display: inline-block;
    float: right;
    width: calc(95% - #{$buffer-width});
    transform: translateY(20px);

    .content {
      min-height: 2em;
    }

    .section {
      display: inline-block;
      height: auto;
      overflow: hidden;
      padding: 0 $padding;
      width: auto;

      &-left {
        @extend .section;

        span {
          &:last-child {
            padding: 0 0 0 $padding-big;
          }

          p:last-child {
            padding: 0 0 0 5px;
          }
        }
      }

      &-right {
        @extend .section;
        float: right;

        .empty-message {
          display: none;
        }
      }
    }

    &.empty {

      .section {

        &-right {

          .status {
            display: none;
          }
          .empty-message {
            color: $grey-mid;
            display: inline-block;
            float: right;
            font-size: 0.8em;
            font-weight: 600;
            line-height: 2em;
          }
        }
      }

      .progress-bar {

        .fill {
          background: transparent;
        }
      }
    }
  }

  p {
    display: inline-block;
    margin: 0;
  }

  &.category {
    padding: $padding-small $padding-mid;

    .progress-wrapper {
      transform: none;
      width: 100%;

      .section {

        &-left {
          min-width: 14em;
          padding-left: 0;
          width: auto;
        }
        &-right {
          min-width: 8em;
          padding-right: 0;
          text-align: right;
          width: auto;
        }
      }

      .progress-bar-wrapper {
        display: inline-block;
        //transform: translateY(-10px);
        width: calc(99% - (14em + 8em));

        .progress-bar {
          transform: translateY(-50%);
          top: 50%;
          position: absolute;
        }
      }
    }
  }
}



// Media Queries

// Tablet
@media screen and (max-width: $small-break) {

  .summary {

    .buffer {
      width: 100%;

      .field {
        display: inline-block;
        margin: 0;
        width: 8em;
      }
    }

    .progress-wrapper {
      width: 100%;

      .section {

      }
    }
  }
}

// Mobile
@media screen and (max-width: $xs-break) {

  .summary {
    padding: 0 0 3.77em 0;

    .buffer {

      .btn-primary {
        margin: $margin-small 0;
        width: 100% !important;
      }
    }

    .progress-wrapper {
      width: 100%;

      .section {

        &-left {
          padding: 0;

          span {
            display: inline-block;
            overflow: hidden;
            width: auto;

            p {
              display: block;
              margin-bottom: -0.2em;
              padding: 0;
              width: 100%;

              &.small {
                margin: 0;
              }

              &:last-child {
                padding: 0;
              }
            }

            &:last-child {
              padding: 0 0 0 $padding-mid;
            }
          }
        }
      }
    }

    &.category {

      .progress-wrapper {

        .section {

          &-left {
            min-width: 0;
            padding: 0;

            span {
              min-width: 0;
            }
          }

          &-right {
            min-width: 0;
            padding: 0;

            span {
              min-width: 0;
            }
          }
        }

        .progress-bar {
          width: 100%;
        }
      }
    }
  }
}
