<div class="header text-center">
  <h1>Finish integrating with Harvest</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="card">
      <h1>Invite a New User 🙋</h1>
      <section>
        <p class="small">
          Estimating is more fun with friends. To add your teammates to Albatross, just enter their email and we'll send them a link to join!
        </p>
      </section>
    </div>
  </div>
</div>