<div class="container--main">
  <div class="header">
    <h1>Good afternoon, {{currentUser.user.team.name}}!</h1>
    <p>{{model.length}} projects</p>
  </div>
  <div>
    {{new-project-card onSave=(action 'createNewProject')}}
    {{#each project in model}}
      {{project-card model=project}}
    {{/each}}
  </div>
</div>