<div>
  <div>
    {{currentUser.user.team.name}}

    {{model.length}}
  </div>
  <div>
    {{new-project-card onSave=(action 'createNewProject')}}
    {{#each project in model}}
      {{project-card model=project}}
    {{/each}}
  </div>
</div>