{{#if currentUser.teamPlan}}
  <div class="header">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8">
        <h1>You've already upgraded! 🚀</h1>
        {{#if currentUser.isOwner}}
          <p>Looking to manage your plan or payment options? Just scroll to the bottom of the {{#link-to 'app.settings'}}settings{{/link-to}} page.</p>
        {{else}}
          <p>Looks like your team owner already upgraded your team! Ask them about managing your plan or payment details in their settings page.</p>
        {{/if}}
      </div>
    </div>
  </div>
{{else if currentUser.isOwner}}
  <div class="header">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8">
        <h1>Upgrade 🚀</h1>
        <p>Need a little more? Choose a plan and you’ll up your project estimate game in no time!</p>
      </div>
    </div>
  </div>
  {{subscribe-to-plan}}
{{else}}
  <div class="header">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8">
        <h1>Upgrade 🚀</h1>
        <p>Need a little more? Talk to your team owner about upgrading your plan, starting at just $10/month.</p>
      </div>
    </div>
  </div>
{{/if}}