<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-offset-1">
    <div class="numbered-list">
      <div class="list-item">
        <div class="number">1</div>
        <div class="text">
          <h2>Build an estimate</h2>
          <p>Build out a detailed estimate for your project</p>
        </div>
      </div>
      <div class="list-item">
        <div class="number">2</div>
        <div class="text">
          <h2>Track your progress</h2>
          <p>Track hours on items throughout the project to stay on course</p>
        </div>
      </div>
      <div class="list-item">
        <div class="number">3</div>
        <div class="text">
          <h2>Make smarter estimates</h2>
          <p>Use data from old projects to make new estimates more accurate</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="pricing-container margin-top">
      <h2>Plans & Pricing</h2>
      <p>Choose a plan to fit your needs</p>
      {{#link-to 'index.pricing'}}<button class="btn-primary">View Pricing</button>{{/link-to}}
    </div>
  </div>
</div>