<div class="row center-xs">
  <div class="col-xs-12">
    <h2>Beta Pricing</h2>
    <p>Sign up now to get our introductory beta pricing</p>
  </div>
</div>
<div class="row around-sm">
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-container margin-top">
      <p>Moonlighter</p>
      <h1>$0</h1>
      <p class="grey">per month</p>
      <p class="margin-top">1 project</p>
      <p class="margin-top">1 user</p>
      {{#link-to 'signup'}}<button class="btn-primary">Get Started</button>{{/link-to}}
      <p class="margin-top">Always free</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="pricing-container margin-top">
      <p>Freelancer</p>
      <h1>$10</h1>
      <p class="grey">per month</p>
      <p class="margin-top">Unlimited projects</p>
      <p class="margin-top">Up to 5 users</p>
      {{#link-to 'signup'}}<button class="btn-primary">Start a free trial</button>{{/link-to}}
      <p class="margin-top">Free for 14 days</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="pricing-container margin-top">
      <p>Agency</p>
      <h1>$25</h1>
      <p class="grey">per month</p>
      <p class="margin-top">Unlimited projects</p>
      <p class="margin-top">Up to 25 users</p>
      {{#link-to 'signup'}}<button class="btn-primary">Start a free trial</button>{{/link-to}}
      <p class="margin-top">Free for 14 days</p>
    </div>
  </div>

</div>

<div class="row center-xs">
  <div class="col-xs-12 col-sm-12">
    <h3>Don't see your plan here?</h3>
    <p>If you need a plan with a little more, <a href="mailto:andrew@builtbykrit.com">contact Andrew</a> to get something setup just for you.</p>
  </div>
</div>