<div class="navbar login">
  <div class="container">
    <div class="left-nav">
      <div class="logo"></div>
    </div>
    <div class="right-nav">
      <ul class="nav-list">
        <li><a id="logout" href="" {{action 'logout'}}>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container--main">
<div class="header">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-8">
      <h1>Choose Plan 🚀</h1>
      <p>Choose a plan and you’ll up your project estimate game in no time!</p>
    </div>
  </div>
</div>
  {{subscribe-to-plan}}
</div>