<div class="container--main">
  <div class="row center-xs">
    <div class="col-sm-5">

      <div class="header text-center">
        <h1>Error!</h1>
        <p>Sorry, something fishy seems to be going on. How about going home and trying again?</p>
      </div>

      <section>
        <p>
          {{#link-to 'app'}}Take me home{{/link-to}}
        </p>
      </section>
    </div>
  </div>
</div>