<div class="container--login">
  <div class="row center-xs">
    <div class="col-sm-5">
      <div class="card--login">
        <div class="logo--full-color"></div>
        <p>Forgot your password? Don't worry, just enter your email and we'll send you a link to reset your password.</p>
        {{validated-text-input name='email'
                               type='text'
                               placeholder='Email'
                               value=email
                               error=validations.attrs.email.message
                               showError=showError}}
        {{#spin-button action=(action 'submitButtonPressed') buttonStyle="contract" class="btn-primary"}}Submit{{/spin-button}}
        <section>
          {{error-message errors=errors}}
        </section>
        <section>
          {{#link-to "login" id="login"}}Go to login{{/link-to}}
        </section>
      </div>
    </div>
  </div>
</div>