<div class="navbar login">
  <div class="container">
    <div class="left-nav">
      <div class="logo"></div>
    </div>
    <div class="right-nav">
      <ul class="nav-list">
        <li>{{#link-to 'signup'}}Signup{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container--main">
  <div class="row center-xs">
    <div class="col-sm-5">
      <div class="header text-center">
        <h1>Welcome back!</h1>
      </div>

      {{validated-text-input name='email'
                             type='text'
                             placeholder='Email'
                             label='Email'
                             value=email
                             error=validations.attrs.email.message
                             showError=showError}}

      {{#validated-text-input name='password'
                              type='password'
                              placeholder='Password'
                              label='Password'
                              value=password
                              error=validations.attrs.password.message
                              showError=showError}}
        <p class="small">{{#link-to "forgot-password" id="forgot-password" class='dark'}}Forgot your password?{{/link-to}}</p>
      {{/validated-text-input}}

      {{#spin-button action=(action 'loginButtonPressed') class="btn-primary" buttonStyle="contract"}}Login{{/spin-button}}

      <section>
        {{error-message errors=errors}}
      </section>

    </div>
  </div>
</div>
