<div class="navbar login">
  <div class="container">
    <div class="left-nav">
      <div class="logo"></div>
    </div>
    <div class="right-nav">
      <ul class="nav-list">
        <li>{{#link-to 'signup'}}Signup{{/link-to}}</li>
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container--main">
  <div class="row center-xs">
    <div class="col-sm-5">
      <div class="header text-center">
        <h1>Welcome to Albatross!</h1>
        <p class="light">Just create a password and you'll be good to go</p>
      </div>

      {{#validated-text-input name='password'
                              type='password'
                              placeholder='Create a password...'
                              label='Password'
                              value=password
                              error=validations.attrs.password.message
                              showError=showError}}
      {{/validated-text-input}}

      <p class="small">Passwords must be at least 8 characters and contain at least 1 number</p>

      <section>
        {{#spin-button class="btn-primary" buttonStyle="contract"}}Register{{/spin-button}}
      </section>

      <section>
        {{error-message errors=errors}}
      </section>

    </div>
  </div>
</div>
