<div class="navbar login">
  <div class="container">
    <div class="left-nav">
      <div class="logo"></div>
    </div>
    <div class="right-nav">
      <ul class="nav-list">
        <li>{{#link-to 'signup'}}Signup{{/link-to}}</li>
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container--main">
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-5">

      <div class="header text-center">
        <h1>Reset your password</h1>
        <p>Passwords must be at least 8 characters. Make sure you can remember this one.</p>
      </div>

      {{validated-text-input name='password'
                             type='password'
                             placeholder='New Password'
                             value=password
                             error=validations.attrs.password.message
                             showError=showError}}

      {{validated-text-input name='confirmPassword'
                             type='password'
                             placeholder='Confirm Password'
                             value=confirmPassword
                             error=validations.attrs.confirmPassword.message
                             showError=showError}}

      <section>
        {{#spin-button action=(action 'saveButtonPressed') buttonStyle="contract" class="btn-primary"}}Save{{/spin-button}}
      </section>
      <section>
        {{error-message errors=errors}}
      </section>
    </div>
  </div>
</div>