<div class="container--login">
  <div class="row center-xs">
    <div class="col-sm-5">
      <div class="card--login">
        <div class="logo--full-color"></div>
        <h2>Password reset!</h2>
        <p>We just reset your password.Go back to the login page to try it out!</p>
        {{#link-to "login" id="login" class="btn-primary" tagName="button"}}Go to login{{/link-to}}
      </div>
    </div>
  </div>
</div>