<div class="navbar login">
  <div class="container">
    <div class="left-nav">
      <div class="logo"></div>
    </div>
    <div class="right-nav">
      <ul class="nav-list">
        <li>{{#link-to 'signup'}}Signup{{/link-to}}</li>
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>


<div class="container--main">
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-5">

      <div class="header text-center">
        <h1>Password reset!</h1>
        <p>We just reset your password.Go back to the login page to try it out!</p>
      </div>

      <section>
        <button class="btn-primary">Go to login</button>
      </section>

    </div>
  </div>
</div>